
.app {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.table-container {
    position: absolute; /* 使用绝对位置 */
    top: 15%; /* 根据实际导航栏的高度设置 */
    left: 20%;
    right: 5%;
    bottom: 0;
    padding: 10px;
}

.navbar {
    background-color: dodgerblue;
    padding: 20px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.right-text {
    margin-left: auto; /* 使用 margin-left: auto 实现右对齐 */
    font-size: 20px;
    color: white;
}