
.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


.container h1{
    position: relative;
    font-family: SimSun, Arial, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: dodgerblue;
    margin-bottom: 10px;
}
